{% extends "base.html" %}
{% load static %}

{% block content %}

     


        <section class="hero-section text-white hero-ten" style="background: url('static/assets/img/dark-blue-plain.jpg')no-repeat center center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                            <h1 class="fw-bold display-5 text-white">
                                Enhancing Your Software Development Capabilities
                            </h1>
                            <p class="lead">
                                Through our innovative solutions and meticulous practices, we elevate your software development capabilities to new heights. Rely on us to enhance your digital products with dedicated expertise and innovative strategies.
                            </p>
                            <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                                <a href="{% url 'service' %}" class="btn btn-primary me-3">Discover More</a>
                                {% for video in youtube_video %}
                                {% if video.url %}
                                <a href="{{ video.url }}" target="_blank" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0">
                                    <i class="fas fa-play"></i> How It Works
                                </a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 mt-5">
                        <div class="hero-img position-relative circle-shape-images">
                            <img src="{% static 'assets/img/screen/animated-screen-1.svg' %}"alt="hero img" class="img-fluid position-relative z-5" />
                        </div>
                    </div>
                </div>
                <!-- <div class="cyber-down-btn text-center position-relative d-none d-lg-block">
                    <a href="#cyber-about" class="text-primary">
                        <i class="fas fa-arrow-down"></i>
                    </a>
                </div> -->
            </div>
        </section>

        <!--feature promo start-->
         <!--feature promo end-->

        <!--feature tab section start-->
        <section class="feature-tab-section ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Features</h4>
                            <h2>Powerful Advanced Features</h2>
                            <p>Dynamically initiate market positioning total linkage with clicks-and-mortar technology
                                progressively procrastinate compelling.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav justify-content-center feature-tab-list-2 mb-0" id="nav-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" data-bs-target="#tab-1" role="tab" aria-selected="false">
                                    AI & Data Science
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-2" data-bs-toggle="tab" data-bs-target="#tab-2" role="tab" aria-selected="false">
                                    Automation Power
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-3" data-bs-toggle="tab" data-bs-target="#tab-3" role="tab" aria-selected="false">
                                    Advanced Technology
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade pt-60 active show" id="tab-1" role="tabpanel">
                                <div class="row justify-content-center align-items-center justify-content-around">
                                    <div class="col-lg-5">
                                        <div class="feature-tab-info">
                                            <h3>AI & Data Science</h3>
                                            <p>Welcome to Tinos, where we specialize in harnessing the power of AI and Data Science to revolutionize industries and drive transformative change. With a team of expert data scientists and AI engineers, we are dedicated to unlocking the full potential of your data and leveraging advanced algorithms to extract valuable insights.</p>
                                            <p>From predictive analytics to machine learning models, we offer comprehensive solutions tailored to meet your unique business needs. Our approach combines state-of-the-art technology with deep domain expertise to deliver actionable intelligence that drives decision-making and fuels growth.</p>
                                            <a href="{% url 'service' %}" class="read-more-link text-decoration-none mt-4 d-block">Know More
                                                <i class="fas fa-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="{% static 'assets/img/ai-datascience.jpg' %}" alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-60" id="tab-2" role="tabpanel">
                                <div class="row justify-content-center align-items-center justify-content-around">
                                    <div class="col-lg-5">
                                        <img src="{% static 'assets/img/automation.jpg' %}" alt="feature tab" class="img-fluid mb-4 mb-lg-0 mb-xl-0">
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="feature-tab-info">
                                            <h3>Automation Power</h3>
                                            <p>Welcome to Tinos, where we harness the power of automation to streamline processes, boost efficiency, and drive productivity. With our cutting-edge automation solutions, we empower businesses to automate repetitive tasks, allowing them to focus on higher-value activities.</p>
                                            <p>From robotic process automation (RPA) to intelligent automation, we offer a comprehensive suite of automation services tailored to meet the unique needs of your organization. Our team of experts works closely with you to identify opportunities for automation and develop customized solutions that deliver tangible results.</p>
                                            <p>By leveraging the latest technologies and best practices in automation, we help businesses reduce operational costs, minimize errors, and accelerate time-to-market. Our solutions are scalable and adaptable, enabling you to stay agile in today's rapidly evolving business landscape.</p>
                                            <a href="{% url 'service' %}" class="read-more-link text-decoration-none mt-4 d-block">Know More
                                                <i class="fas fa-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-60" id="tab-3" role="tabpanel">
                                <div class="row justify-content-center align-items-center justify-content-around">
                                    <div class="col-lg-5">
                                        <div class="feature-tab-info">
                                            <h3>Advanced Technology</h3>
                                            <p>Welcome to Tinos, where we are at the forefront of advanced technology, pioneering innovation and driving digital transformation. Our team of experts specializes in harnessing the latest advancements in technology to solve complex challenges and propel businesses forward.</p>
                                            <p>Our proven track record of success spans across industries, including finance, healthcare, retail, and more. By partnering with us, you gain a strategic partner who understands your industry and can help you navigate the complexities of today's technology landscape. </p>
                                            <p>We understand that every organization is unique, which is why we take a customized approach to each project. From initial consultation to implementation and ongoing support, we work closely with you to ensure that our solutions align with your specific goals and objectives.</p>
                                            <a href="{% url 'service' %}" class="read-more-link text-decoration-none mt-4 d-block">Know More 
                                                <i class="fas fa-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="{% static 'assets/img/technology.jpg' %}" alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--feature tab section end-->

        <!--feature tab section start-->
        <section class="feature-section-two ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="feature-content-wrap">
                            <div class="section-heading">
                                <h2>We are development experts on all technologies</h2>
                                <p>Quickly incubate functional channels with multidisciplinary architectures authoritatively
                                    fabricate formulate exceptional innovation.</p>
                            </div>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Pixel Perfect Design</h3>
                                        <p> we specialize in crafting pixel-perfect designs that captivate audiences and elevate brands. With meticulous attention to detail and a keen eye for aesthetics, our talented team of designers ensures that every element of your design is flawless and visually stunning.
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-fingerprint text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Unique &amp; Minimal Design</h3>
                                        <p>we specialize in crafting unique and minimalistic designs that make a lasting impression. Our design philosophy is centered around simplicity and elegance, ensuring that every element serves a purpose and contributes to a seamless user experience.
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4 mb-lg-0">
                                    <div class="icon-box bg-dark rounded me-4">
                                        <i class="fas fa-headset text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">24/7 Free Online Support</h3>
                                        <p>we provide 24/7 free online support to ensure that your needs are met anytime, anywhere. Our dedicated support team is here to assist you with any questions, concerns, or technical issues you may encounter, offering prompt and reliable assistance whenever you need it.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="feature-img-wrap">
                            <img src="{% static 'assets/img/feature-hero-img.svg' %}" alt="feature image" class="img-fluid rounded-custom">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="why-choose-us pt-60 pb-120">
            <div class="container">
                <div class="row justify-content-lg-between justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-7 order-1 order-lg-0">
                        <div class="why-choose-img position-relative">
                            <img src="{% static 'assets/img/feature-hero-img-2.svg' %}" class="img-fluid" alt="duel-phone">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                        <div class="why-choose-content">
                            <div class="mb-32">
                                <h2>We run all kinds of services in form of software</h2>
                                <p>Conceptualize multimedia based ROI and wireless intellectual capital. Dramatically seize
                                    visionary technologies whereas interactive value. </p>
                            </div>
                            <ul class="list-unstyled d-flex flex-wrap list-two-col">
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Thought leadership</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Personal branding</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Modernized prospecting</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Better win rates</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Showcasing success</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Sales compliance</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Manage smartly</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Communicate fast</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--feature tab section end-->

        <!--cat start-->
        <section class="cta-section bg-dark text-white ptb-120 position-relative overflow-hidden">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12">
                        <div class="position-relative z-5">
                            <h2>Actionable Reports to Grow your Business</h2>
                            <p>Conveniently syndicate client-centric users for transparent scenarios. Uniquely evolve
                                partnerships rather than cross-platform interfaces.</p>
                            <a href="{% url 'contact' %}" class="btn btn-primary mt-4">Get Start Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="row align-items-center justify-content-center position-relative z-2">
                            <div class="col-md-6">
                                <div class="cta-card rounded-custom text-center shadow p-5 bg-white my-4">
                                    <h3 class="display-5 fw-bold">9/10</h3>
                                    <p class="mb-0">Overall our customer satisfaction score</p>
                                </div>
                                <div class="cta-card rounded-custom text-center shadow p-5 bg-white my-4">
                                    <h3 class="display-5 fw-bold">15K+</h3>
                                    <p class="mb-0">Happy customer in worldwide</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta-card rounded-custom text-center shadow p-5 bg-white">
                                    <h3 class="display-5 fw-bold">95%</h3>
                                    <p class="mb-0">Our Customer customer satisfaction score</p>
                                </div>
                            </div>
                            <div class="bg-circle rounded-circle position-absolute z--1">
                                <img src="{% static 'assets/img/shape/blob.svg' %}" alt="feature image" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-30"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning left-5"></div>
            </div>
        </section> <!--cat end-->

        <!--our work process start-->
        <section class="work-process ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Process</h4>
                            <h2>We Follow Our Work Process</h2>
                            <p>Conveniently mesh cooperative services via magnetic outsourcing. Dynamically grow functionalized value whereas accurate e-commerce. </p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 col-lg-3">
                        <div class="process-card text-center px-4 py-lg-5 py-4 rounded-custom shadow-hover mb-3 mb-lg-0">
                            <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                                <span class="h2 mb-0 text-primary fw-bold">1</span>
                            </div>
                            <h3 class="h5">Research</h3>
                            <p class="mb-0">Before embarking on any <br>project, we dedicate time to thorough research, ensuring a deep understanding of your needs, industry landscape, and technological possibilities.</p>
                        </div>
                    </div>
                    <div class="dots-line first"></div>
                    <div class="col-md-6 col-lg-3">
                        <div class="process-card text-center px-4 py-lg-5 py-4 rounded-custom shadow-hover mb-3 mb-lg-0">
                            <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                                <span class="h2 mb-0 text-primary fw-bold">2</span>
                            </div>
                            <h3 class="h5">Designing</h3>
                            <p class="mb-0"> With meticulous attention to detail and creative flair, our designers translate your vision into captivating visuals and user-friendly interfaces</p>
                        </div>
                    </div>
                    <div class="dots-line first"></div>
                    <div class="col-md-6 col-lg-3">
                        <div class="process-card text-center px-4 py-lg-5 py-4 rounded-custom shadow-hover mb-3 mb-lg-0 mb-md-0">
                            <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                                <span class="h2 mb-0 text-primary fw-bold">3</span>
                            </div>
                            <h3 class="h5">Building</h3>
                            <p class="mb-0">With precision and expertise, our development team constructs robust and scalable products that meet your specifications and exceed your expectations.</p>
                        </div>
                    </div>
                    <div class="dots-line first"></div>
                    <div class="col-md-6 col-lg-3">
                        <div class="process-card text-center px-4 py-lg-5 py-4 rounded-custom shadow-hover mb-0">
                            <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                                <span class="h2 mb-0 text-primary fw-bold">4</span>
                            </div>
                            <h3 class="h5">Deliver</h3>
                            <p class="mb-0">Our team coordinates every aspect of the delivery process, from final testing to deployment, to guarantee a seamless transition to implementation. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--our work process end-->

        <!--customer review tab section start-->
        <section class="testimonial-section ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Testimonial</h4>
                            <h2>What They Say About Us</h2>
                            <p>Discover what our clients are saying about our services in their own words, providing valuable insights and testimonials that showcase our commitment to excellence.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100">
                            <div class="swiper testimonialSwiper">
                                <div class="swiper-wrapper">{% for review in review %}
                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                {% if reviews.client_image %}
                                                <img src="{{review.client_image.url}}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                {% endif %}
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{review.client_name}}</h6>
                                                    <small>{{review.designation}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <!-- <h6>The Best Template You Got to Have it!</h6> -->
                                                {{review.review}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--customer review tab section end-->

        <!--cat subscribe start-->
        <!--cat subscribe end-->

        <!--integration section start-->
         <!--integration section end-->

        <!--blog section start-->
        <section class="home-blog-section ptb-120 bg-light-subtle ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="text-primary h5"></h4>
                            <h2>Our Projects</h2>
                            <p>Discover our portfolio of groundbreaking projects. See firsthand how we deliver excellence through innovation and dedication.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center g-4">{% for projects in project %}
                        <div class="col-xl-4 col-md-6">
                            <article class="sc-blog-card bg-white rounded-4 overflow-hidden rounded-4 overflow-hidden">
                                <div class="thumbnail overflow-hidden">
                                    {% if projects.project_image %}
                                    <a href="{{projects.website_link}}"><img src="{{projects.project_image.url}}" alt="blog thumb" class="img-fluid" style="height: 250px;"></a>
                                    {% endif %}
                                </div>
                                <div class="sc-blog-card-content p-4">
                                    
                                    <!-- <a href="http://tinos.co.in/" class="d-inline-block text-primary badge bg-primary-soft mb-3">Web Designed By</a> -->
                                    <a href="{{projects.website_link}}">
                                        <h5 class="mb-3" style="text-align: center;">{{projects.project_name}}</h5>
                                    </a>
                                    <!-- <p class="mb-4">Appropriately empower robust infomediaries via resource maximizing scenarios.</p> -->
                                </div>
                            </article>
                        </div>{% endfor %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="text-center mt-5">
                        <a href="{% url 'contact' %}" class="btn btn-primary">Get Start</a>
                    </div>
                </div>
            </div>
        </section> <!--blog section end-->

        <section class="digi-contact pt-60 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-left">
                            <div>
                                <span class="span-arrow">Best Yout website</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-3">
                                Get in touch <span class="text-orange">Today!</span>
                            </h2>
                            <p>
                                Contact us today to explore how our services can address your needs and drive your success forward.
                            </p>
                            <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
                                <li class="pe-4">
                                    <div class="bg-white contact-box mb-4 mb-md-0">
                                        <img src="{% static 'assets/img/icons/c-i-1.svg' %}" alt="icon" />
                                        <h4 class="h5">Email Address</h4>
                                        <p class="fw-bold">support@tinos.co.in</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white contact-box">
                                        <img src="{% static 'assets/img/icons/c-i-2.svg' %}" alt="icon" />
                                        <h4 class="h5">Phone</h4>
                                        <p class="fw-bold">+91 7907358458</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-form-bg bg-white position-relative">
                            <ul class="list-unstyled d-none d-xl-block m-0">
                                <li></li>
                                <li></li>
                            </ul>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" name="number"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="yourMessage" name="message" required placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                    
                                    <div class="col-3">
                                        <button class="mt-4 btn rounded-pill bg-orange">
                                            Get in touch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}