{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
 
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Projects</h4>
               
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Project Name
                          </th>
                          <th>
                            Project Link
                          </th>
                         
                          <th>
                            Project Image
                          </th>
                       
                          <th>
                            Update
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for project in projects %}
                        <tr>
                          <td style="width: 150px; ">
                            {{ project.project_name }}
                          </td>
                          <td style="width: 150px; ">
                            {{ project.website_link }}
                          </td>
                        
                        
                          <td style="width: 150px; ">
                            {% if project.project_image %}
                            <img src="{{ project.project_image.url }}" alt="Current Image" style="width: 80px; height: 80px;">
                            <br>
                            <!-- <input type="checkbox" name="remove_image"> Remove Current Image -->
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        </td>
                         
                          <td style="width: 150px; ">
                            <a href="{% url 'update_projects' project.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                               
                                
                          </td>
                          <td style="width: 150px; ">
                            <a href="{% url 'delete_projects' project.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                           
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}