{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="col-lg-11 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">View Uploaded Certificates</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Join Date</th>
                            <th>Designation</th>
                            <th>Certificate</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificate in certificates %}
                        <tr>
                            <td style="width: 150px;">{{ certificate.id1 }}</td>
                            <td style="width: 150px;">{{ certificate.name }}</td>
                            <td style="width: 150px;">{{ certificate.email }}</td>
                            <td style="width: 150px;">{{ certificate.join_date }}</td>
                            <td style="width: 150px;">{{ certificate.designation }}</td>
                            <td style="width: 150px;">
                                {% if certificate.pdf_file %}
                                <object data="{{ certificate.pdf_file.url }}" type="application/pdf" width="100" height="100">
                                    <p>Sorry, your browser does not support PDFs. Please download the PDF to view it.</p>
                                </object>
                                {% else %}
                                <p>No certificate found for the provided ID.</p>
                                {% endif %}
                            </td>
                            <td style="width: 150px;">
                                <a href="{% url 'update_certificates' certificate.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                            </td>
                            <td style="width: 150px;">
                                <a href="{% url 'delete_certificates' certificate.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
