{% extends "base.html" %}
{% load static %}

{% block content %}

        <!--header end-->
        <!--header section end-->

        <!-- Hero Start-->
        <section class="digi-hero ptb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="digi-hero-text mt-5 mt-lg-0">
                            <div>
                                <span class="span-arrow">Best Digital Agency</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h1 class="display-5 fw-bold mb-3">
                                We Are the <span class="text-orange fw-bold">Brilliants</span>
                                in Terms of digital Marketing
                            </h1>
                            <p class="m-0">
                                Elevate your digital presence with our unparalleled expertise in digital marketing. We combine creativity, strategy, and innovation to deliver brilliant results that amplify your brand's visibility and drive growth
                            </p>
                            <!-- <div class="action-btns mt-4 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                                <a href="contact-us.html" class="btn rounded-pill bg-orange me-3">Download Now</a>
                                <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0">
                                    <i class="fas fa-play"></i> How It Works
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-7 cool-md-6">
                        <div class="digi-hero-img text-center position-relative mt-5">
                            <img src="{% static 'assets/img/digital-marketing.jpg' %}" class="img-fluid" alt="girl" />
                            <ul class="list-unstyled d-none d-xl-block">
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/hero-shape-1.png' %}" alt="shape" class="" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/hero-shape-2.png' %}" alt="shape" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/hero-shape-3.png' %}" alt="shape" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/hero-shape-4.png' %}" alt="shape" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero End-->

        <!-- Logo Start -->
        <!-- <section class="digtal-marketing-logo pb-120">
            <div class="container">
                <div class="bg-light-subtle shadow-sm py-5 px-4 rounded-3">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <h5 class="mb-4">Trusted by the best companies in the world</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="swiper digi-logo-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/google.svg' %}" class="img-fluid" height="30" alt="logo" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/facebook.svg' %}" class="img-fluid" alt="logo" height="30" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/youtube.svg' %}" class="img-fluid" alt="logo" height="30" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/printerest.svg' %}" class="img-fluid" alt="logo" height="30" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/webflow.svg' %}" class="img-fluid" alt="logo" height="30" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-logo">
                                            <img src="{% static 'assets/img/brand-logo/company.svg' %}" class="img-fluid" alt="logo" height="30" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Logo End -->

        <!-- Service Start -->
        <section class="digi-services pb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <div>
                                <span class="span-arrow">Best Digital Agency</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2>
                                We have extensive Experience in Social
                                <span class="text-orange">Media Marketing</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="digi-service-single bg-white p-4 mb-4 mb-xl-0">
                            <img src="{% static 'assets/img/icons/d-1.svg' %}" alt="icon" />
                            <h3 class="h5">Paid Advertising</h3>
                            <p>Proactively recaptiualize multidisciplinary manufactured products vis-a-vis go forward resource
                                maximizing internal.
                            </p>
                            <!-- <a href="services.html" class="read-more-link text-decoration-none">Explore More <i
                    class="fas fa-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="digi-service-single bg-white p-4 mb-4 mb-xl-0">
                            <img src="{% static 'assets/img/icons/d-2.svg' %}" alt="icon" />
                            <h3 class="h5">Content Marketing</h3>
                            <p>
                                Assertively negotiate adaptive human capital and collaboration and idea-sharing rather than extensive communities.
                            </p>
                            <!-- <a href="services.html" class="read-more-link text-decoration-none">Explore More <i
                    class="fas fa-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="digi-service-single bg-white p-4 mb-4 mb-xl-0">
                            <img src="{% static 'assets/img/icons/d-3.svg' %}" alt="icon" />
                            <h3 class="h5">Content Marketing</h3>
                            <p>
                                Globally promote long-term high-impact resources and goal-oriented growth strategies. Globally incubate
                                extensible.
                            </p>
                            <!-- <a href="services.html" class="read-more-link text-decoration-none">Explore More <i
                    class="fas fa-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="digi-service-single bg-white p-4 mb-4 mb-xl-0">
                            <img src="{% static 'assets/img/icons/d-4.svg' %}" alt="icon" />
                            <h3 class="h5">Youtube Marketing</h3>
                            <p>
                                Globally utilize emerging networks through team driven models develop team driven systems<br> through.
                            </p>
                            <!-- <a href="services.html" class="read-more-link text-decoration-none">Explore More <i
                    class="fas fa-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service End -->

        <!-- Newsletter Start -->
        <!-- <section class="digi-news-letter">
            <div class="container">
                <div class="bg-dark text-light rounded-custom p-4 p-md-5 p-lg-5">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digi-newsletter">
                                <div>
                                    <span class="span-arrow text-pink">Best Yout website</span>
                                    <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                                </div>
                                <h2>Test your Website for Free with Quiety</h2>
                                <p>
                                    Intrinsicly cultivate user-centric collaboration and idea-sharing after value-added processes
                                    repurpose unique models and global schemas.
                                </p>
                                <form class="mt-4">
                                    <div class="position-relative digi-news-form">
                                        <input type="text" class="form-control" placeholder="Website Url" />
                                        <button class="digi-news-button">Analysis Webiste</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="dg-news-img text-end">
                                <img src="{% static 'assets/img/d-pie.png' %}" class="img-fluid text-end" alt="pie" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Newsletter End -->

        <!-- Why Start -->
        <section class="digi-why pt-120">
            <div class="container">
                <div class="row align-content-center justify-content-between">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-why-left">
                            <img src="{% static 'assets/img/d-girl.png' %}" class="img-fluid" alt="Girl" />
                            <ul class="list-unstyled d-none d-md-block">
                                <li>
                                    <img src="{% static 'assets/img/dg-shape-9.png' %}" class="shadow img-fluid" alt="shape" />
                                </li>
                                <!-- <li>
                                    <img src="{% static 'assets/img/dg-shape-2.png' %}" class="shadow img-fluid" alt="shape" />
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-why-right pt-4">
                            <div>
                                <span class="span-arrow">Why Choose Us</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" class="img-fluid" alt="arrow" />
                            </div>
                            <h2>Why Working With Us?</h2>
                            <p>
                                Our digital marketing services offer more than just expertise – we provide a partnership focused on driving your success. With a team of seasoned professionals dedicated to understanding your unique goals, we tailor strategies that maximize your online presence and deliver measurable results. From strategic planning to execution and analysis, we offer a comprehensive approach that ensures your marketing efforts are optimized for success. With a proven track record of helping businesses like yours achieve their objectives, partnering with us means gaining a trusted ally committed to your growth and prosperity in the digital landscape.
                            </p>
                            <div>
                                <ul class="list-unstyled mb-0 mt-5">
                                    <li class="d-flex p-3 align-items-center bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/icons/dw-i-1.svg' %}" alt="icon" />
                                        </div>
                                        <div>
                                            <h4 class="mb-0">250+</h4>
                                            <span>Happy Customer</span>
                                        </div>
                                    </li>
                                    <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/icons/dw-i-2.svg' %}" class="img-fluid" alt="icon" />
                                        </div>
                                        <div>
                                            <h4 class="mb-0">540+</h4>
                                            <span>Succesfull Project</span>
                                        </div>
                                    </li>
                                    <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/icons/dw-i-3.svg' %}" class="img-fluid" alt="icon" />
                                        </div>
                                        <div>
                                            <h4 class="mb-0">80+</h4>
                                            <span> Team Member</span>
                                        </div>
                                    </li>
                                    <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/icons/dw-i-4.svg' %}" class="img-fluid" alt="icon" />
                                        </div>
                                        <div>
                                            <h4 class="mb-0">99%</h4>
                                            <span>Customer Satisfaction</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why End -->

        <!-- How It Works -->
        <section class="digi-how-works bg-white ptb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="digi-how-works-left">
                            <div>
                                <span class="span-arrow">How It Works</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" class="img-fluid" alt="arrow" />
                            </div>
                            <h2>
                                Our Bulletproof Process to win on
                                <span class="text-orang">Social Media</span>
                            </h2>
                            <p>
                                we've crafted a robust and foolproof process designed to catapult your brand to success in the ever-evolving realm of social media. Our strategic approach begins with a thorough analysis of your brand identity, target audience, and industry landscape. From there, we develop tailored strategies that leverage the latest trends, insights, and best practices to amplify your presence and engagement across social platforms.
                            </p>
                            <a href="contact" class="btn rounded-pill bg-orange mt-3">
                                Request a Quoate
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digi-how-works-right bg-light-subtle mt-5 mt-lg-0">
                            <div class="dig-how-steps">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-md-flex justify-content-between align-items-center mb-3 bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/st-8.png' %}" class="img-fluid mb-3 mb-md-0" alt="icons" />
                                        </div>
                                        <div>
                                            <span class="text-orange fw-bold">Step 1</span>
                                            <h6>Social Media Content Plan</h6>
                                            <p class="m-0">
                                                Craft a tailored social media content plan that resonates with your audience and aligns with your brand objectives.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="d-md-flex justify-content-between align-items-center mb-3 bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/st-9.png' %}" class="img-fluid mb-3 mb-md-0" alt="icons" />
                                        </div>
                                        <div>
                                            <span class="text-orange fw-bold">Step 2</span>
                                            <h6>Publishing & Execution</h6>
                                            <p class="m-0">
                                                Seamlessly execute your social media content plan with precision timing and strategic publishing.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="d-md-flex justify-content-between align-items-center bg-white">
                                        <div class="me-3">
                                            <img src="{% static 'assets/img/st-10.png' %}" class="img-fluid mb-3 mb-md-0" alt="icons" />
                                        </div>
                                        <div>
                                            <span class="text-orange fw-bold">Step 3</span>
                                            <h6>Measure & Scale</h6>
                                            <p class="m-0">
                                                Analyze performance metrics and scale your social media efforts for maximum impact and growth.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shape">
                                    <ul class="list-unstyled mb-0">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How It Works End -->


        <!-- Integration Start -->
        <section class="digi-integration bg-dark position-relative" style="background: url('static/assets/img/page-header-bg.svg')no-repeat center bottom">
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="int-icon-one position-relative">
                            <ul class="list-unstyled mb-0 d-none d-lg-block">
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/fa.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/fi.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/slack.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/inst.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/er.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/google.svg' %}" alt="icon" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center">
                            <div>
                                <span class="span-arrow text-pink">Intergration Software </span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-4">Intergrated with 20+ Widely Used Software</h2>
                            <div>
                                <a href="contact" class="btn rounded-pill bg-orange me-3 mb-3">Get in touch</a>
                                <!-- <a href="integrations.html" class="btn rounded-pill btn-outline-light mb-3">Browse all integration</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="int-icon-two position-relative">
                            <ul class="list-unstyled mb-0 d-none d-lg-block">
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/slash.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/tree.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/drive.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/in.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/star.svg' %}" alt="icon" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/img/digital-marketing/int-icon/twi.svg' %}" alt="icon" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!--customer review tab section start-->
  <section class="testimonial-section ptb-120 bg-light-subtle">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h4 class="h5 text-primary">Testimonial</h4>
                    <h2>What They Say About Us</h2>
                    <p>Discover what our clients are saying about our services in their own words, providing valuable insights and testimonials that showcase our commitment to excellence.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="swiper testimonialSwiper">
                        <div class="swiper-wrapper">{% for review in review %}
                            <div class="swiper-slide">
                                <div class="border border-2 p-5 rounded-custom position-relative">
                                    <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                    <div class="d-flex mb-32 align-items-center">
                                        {% if reviews.client_image %}
                                        <img src="{{review.client_image.url}}" class="img-fluid me-3 rounded" width="60" alt="user">
                                        {% endif %}
                                        <div class="author-info">
                                            <h6 class="mb-0">{{review.client_name}}</h6>
                                            <small>{{review.designation}}</small>
                                        </div>
                                    </div>
                                    <blockquote>
                                        <!-- <h6>The Best Template You Got to Have it!</h6> -->
                                        {{review.review}}
                                    </blockquote>
                                    <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    </ul>
                                    <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                    <div class="swiper-nav-control">
                        <span class="swiper-button-next"></span>
                        <span class="swiper-button-prev"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--customer review tab section end-->

<!--cat subscribe start-->
<!--cat subscribe end-->

<!--integration section start-->
 <!--integration section end-->

<!--blog section start-->
<section class="home-blog-section ptb-120 bg-light-subtle ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center">
                    <h4 class="text-primary h5"></h4>
                    <h2>Our Projects</h2>
                    <p>Discover our portfolio of groundbreaking projects. See firsthand how we deliver excellence through innovation and dedication.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center g-4">{% for projects in project %}
                <div class="col-xl-4 col-md-6">
                    <article class="sc-blog-card bg-white rounded-4 overflow-hidden rounded-4 overflow-hidden">
                        <div class="thumbnail overflow-hidden">
                            {% if projects.project_image %}
                            <a href="{{projects.website_link}}"><img src="{{projects.project_image.url}}" alt="blog thumb" class="img-fluid" style="height: 250px;"></a>
                            {% endif %}
                        </div>
                        <div class="sc-blog-card-content p-4">
                            <!-- <a href="http://tinos.co.in/" class="d-inline-block text-primary badge bg-primary-soft mb-3">Web Designed By</a> -->
                            <a href="{{projects.website_link}}">
                                <h5 class="mb-3">{{projects.project_name}}</h5>
                            </a>
                            <!-- <p class="mb-4">Appropriately empower robust infomediaries via resource maximizing scenarios.</p> -->
                        </div>
                    </article>
                </div>{% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-primary">Get Start</a>
            </div>
        </div>
    </div>
</section> <!--blog section end-->
        <!-- Integration End -->

        <!-- News Start -->
        <!-- <section class="dg-news pt-120 pb-60">
            <div class="container">
                <div class="row justify-content-between align-items-end mb-5">
                    <div class="col-lg-6 col-md-6">
                        <div>
                            <div>
                                <span class="span-arrow">News & Blogs</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2>Browse our Articles on Marketing & Growth</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="text-md-end mt-3 mt-md-0">
                            <a href="blog.html" class="btn rounded-pill btn-outline-dark">Browse Articles</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="digi-blog-single border p-3 rounded mb-4 mb-lg-4">
                            <div class="digi-blog-thumb">
                                <a href="blog-single.html">
                                    <img src="{% static 'assets/img/blog/d-blog-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="Person" />
                                </a>
                                <span class="d-tag marketing">Marketing</span>
                            </div>
                            <div class="mt-4 digi-blog-info">
                                <span
                        class="fs-sm text-muted fw-normal"><i class="far fa-calendar me-2"></i>22 Feb, 2022</span>
                                <h4>
                                    5 SEO Factors to Consider for your Website to rank Better
                                </h4>
                                <p>
                                    Holisticly innovate principle-centered evia eth Eincentivize
                                    sticky processes
                                </p>
                                <a href="blog-single.html" class="read-more-link text-decoration-none">Explore More <i
                      class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="digi-blog-single border p-3 rounded mb-4 mb-lg-0">
                            <div class="digi-blog-thumb">
                                <a href="blog-single.html">
                                    <img src="{% static 'assets/img/blog/d-blog-2.jpg' %}" class="img-fluid w-100 rounded-top" alt="Person" />
                                </a>
                                <span class="d-tag design">Marketing</span>
                            </div>
                            <div class="mt-4 digi-blog-info">
                                <span
                        class="fs-sm text-muted fw-normal"><i class="far fa-calendar me-2"></i>22 Feb, 2022</span>
                                <h4>
                                    5 SEO Factors to Consider for your Website to rank Better
                                </h4>
                                <p>
                                    Holisticly innovate principle-centered evia eth Eincentivize
                                    sticky processes
                                </p>
                                <a href="blog-single.html" class="read-more-link text-decoration-none">Explore More <i
                      class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="digi-blog-list">
                            <div class="list-header">
                                <h5>The Top Three Insights</h5>
                            </div>
                            <div class="digi-blog-posts bg-light-subtle">
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="blog-single.html">
                                            <span class="fs-sm text-muted">John Carter October 30, 2021</span>
                                            <h5 class="h6">
                                                5 SEO Factors to Consider for your Website to rank Better
                                            </h5>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="blog-single.html">
                                            <span class="fs-sm text-muted">John Carter October 30, 2021</span>
                                            <h5 class="h6">
                                                5 SEO Factors to Consider for your Website to rank Better
                                            </h5>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="blog-single.html">
                                            <span class="fs-sm text-muted">John Carter October 30, 2021</span>
                                            <h5 class="h6">
                                                5 SEO Factors to Consider for your Website to rank Better
                                            </h5>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="blog-single.html">
                                            <span class="fs-sm text-muted">John Carter October 30, 2021</span>
                                            <h5 class="h6">
                                                5 SEO Factors to Consider for your Website to rank Better
                                            </h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- News End -->

        <!-- Contact Start -->
        <section class="digi-contact pt-60 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-left">
                            <div>
                                <span class="span-arrow">Best Yout website</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-3">
                                Get in touch <span class="text-orange">Today!</span>
                            </h2>
                            <p>
                                Contact us today to explore how our services can address your needs and drive your success forward.
                            </p>
                            <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
                                <li class="pe-4">
                                    <div class="bg-white contact-box mb-4 mb-md-0">
                                        <img src="{% static 'assets/img/icons/c-i-1.svg' %}" alt="icon" />
                                        <h4 class="h5">Email Address</h4>
                                        <p class="fw-bold">support@tinos.co.in</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white contact-box">
                                        <img src="{% static 'assets/img/icons/c-i-2.svg' %}" alt="icon" />
                                        <h4 class="h5">Phone</h4>
                                        <p class="fw-bold">+91 7907358458</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-form-bg bg-white position-relative">
                            <ul class="list-unstyled d-none d-xl-block m-0">
                                <li></li>
                                <li></li>
                            </ul>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" name="number"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="yourMessage" name="message" required placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                    <div class="col-3">
                                        <button class="mt-4 btn rounded-pill bg-orange">
                                            Get in touch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact End -->

       
        {% endblock %}