{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('static/assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-12">
                        {% if category_name %}
                        <h1 class="display-5 fw-bold">{{ category_name.blog_heading }}</h1>
                        <!-- <h1></h1> -->
                        {% endif %}
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->
        
        <section class="blog-details ptb-120">
            <div class="container">
                {% for details in blog_details %}
                <div class="row justify-content-between">
                    <div class="col-lg-8 pe-lg-5">
                        <div class="blog-details-wrap" style="text-align: justify;">
                           
                            <p style="text-align: justify;">{{ details.blog_description | safe }}</p>
                            <img src="{{ details.blog_image.url }}" class="img-fluid mt-4 rounded-custom" alt="apply">
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="author-wrap text-center bg-light-subtle p-5 sticky-sidebar rounded-custom mt-5 mt-lg-0">
                            <img src="{% static 'assets/img/tinos1 (2).png' %}" alt="author" width="120" class="img-fluid shadow-sm rounded-circle" style="height: 100px;width: 100px;">
                            <div class="author-info my-4">
                                <h5 class="mb-0">Tinos Software And Security Solutions LLP</h5>
                                
                            </div>
                            <p>Dive into the world of innovation as this company revolutionizes industries with groundbreaking solutions, Powered by seamless collaboration across all departments.</p>
                            <ul class="list-unstyled author-social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item"><a href="https://www.facebook.com/tinoscyberlabz/"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/tinossoftware/?utm_source=qr&igshid=YzU1NGVlODEzOA%3D%3D"><i class="fab fa-instagram"></i></a></li>
                                
                                <li class="list-inline-item"><a href="https://in.linkedin.com/company/tinossoftware"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        
        
        
         <section class="home-blog-section pt-60 pb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="text-primary h5">Related News</h4>
                            <h2>More Latest News and Blog at Tinos</h2>
                            <p>
                                Stay informed with our latest news and blog updates. Tinos access valuable insights and stay ahead in your industry.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="swiper cyber-blog">
                        <div class="swiper-wrapper">
                            {% for blog in blog %}
                            <div class="swiper-slide position-relative">
                                <div class="cyber-single-article mb-4 mb-lg-0 p-3 border">
                                    <a href="{% url 'blog_details' blog.blog_heading %}" class="cyber-article-img">
                                        <img src="{{blog.main_image.url}}" alt="article" class="img-fluid" style="height: 250px;"/>
                                    </a>
                                    <div class="article-content">
                                        
                                        <a href="{% url 'blog_details' blog.blog_heading %}" class="text-decoration-none">
                                            <h2 class="h5 article-title limit-1-line-text" style="text-align: center;">
                                                {{blog.category_name}}
                                            </h2>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="digi-contact pt-60 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-left">
                            <div>
                                <span class="span-arrow">Best Yout website</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-3">
                                Get in touch <span class="text-orange">Today!</span>
                            </h2>
                            <p>
                                Connect with us today! Reach out now to start a conversation and discover how we can assist you.
                            </p>
                            <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
                                <li class="pe-4">
                                    <div class="bg-white contact-box mb-4 mb-md-0">
                                        <img src="{% static 'assets/img/icons/c-i-1.svg' %}" alt="icon" />
                                        <h4 class="h5">Email Address</h4>
                                        <p class="fw-bold">support@tinos.co.in</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white contact-box">
                                        <img src="{% static 'assets/img/icons/c-i-2.svg' %}" alt="icon" />
                                        <h4 class="h5">Phone</h4>
                                        <p class="fw-bold">+91 7907358458</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-form-bg bg-white position-relative">
                            <ul class="list-unstyled d-none d-xl-block m-0">
                                <li></li>
                                <li></li>
                            </ul>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" name="number"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <textarea class="form-control" id="yourMessage" name="message" required placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                    <div class="col-3">
                                        <button class="mt-4 btn rounded-pill bg-orange">
                                            Get in touch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
      
<style>
  
    .blog-details-wrap p {
        max-width: 100%;
        overflow-wrap: break-word;
    }

    .blog-details-wrap img {
        max-width: 100%;
    }
    .h5{
        white-space: nowrap;
    }

    .limit-1-line-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* Limit the number of lines */
            -webkit-box-orient: vertical;
        }
        
</style>

</style>
        {% endblock %}