{% extends "base.html" %}
{% load static %}

{% block content %}


        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('static/assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">Careers</h1>
                        <p class="lead"> Be part of a dynamic environment where your ideas are valued, and your contributions drive our success</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--open jobs section start-->
        <section id="open-positions" class="open-jobs ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">Our Jobs</h4>
                            <h2>Current Available Positions At Tinos</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <p>Discover a career at Tinos where innovation, collaboration, and growth intersect. From engineering to marketing, every role contributes to our mission of delivering exceptional value to our clients. Be part of a dynamic environment where your ideas are valued, and your contributions drive our success. Explore our current openings and take the next step in your career journey with us.</p>
                    </div>
                </div>
                
                
                <div class="row justify-content-center">
                    {% for job in jobs %}
                    <div class="col-lg-6 col-md-12 mb-4"> <!-- Added mb-4 class for margin bottom -->
                        
                        <a href="{% url 'job_details' job.job_position %}" class="text-decoration-none mt-4 mt-xl-0 mt-lg-0 single-open-job p-5 bg-dark text-white d-block rounded-custom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="job-time h-6 mb-2"><i class="fas fa-briefcase me-2"></i> <strong>{{ job.job_type }}</strong></span>
                                <span class="badge px-3 py-2 bg-custom-light rounded-pill small">{{ job.job_position }}</span>
                            </div>
                            <h3 class="h5">{{ job.job_position }}</h3>
                            <ul class="job-info-list list-inline list-unstyled text-muted">
                                <li class="list-inline-item"><span class="fas fa-house me-1"></span> {{ job.company_name }}</li>
                                <li class="list-inline-item"><span class="fas fa-location-pin me-1"></span> {{ job.place }}</li>
                                <li class="list-inline-item"><span class="fas fa-wallet me-1"></span> {{ job.salary }}</li>
                            </ul>
                            <div class="btn btn-outline-light btn-sm d-inline-block mt-4">More Details</div>
                        </a>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
           
        </section>
        
        <!--open jobs section end-->

        <!--career promo start-->
        <section class="career-promo ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Why Join Us</h4>
                            <h2>Great Working Environment</h2>
                            <p>Elevate Your Career in a Positive Atmosphere. Join Us & Thrive in a Supportive, Inspiring Environment</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-house-user fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Remote Working Facilities</h5>
                                <p class="mb-0">Empower your team with top-notch remote working facilities. Seamlessly collaborate from anywhere with our comprehensive remote work infrastructure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 mt-xl-0 mt-lg-0 mt-md-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-clock fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Flexible Working Hours</h5>
                                <p class="mb-0">Unlock productivity and work-life balance with flexible hours tailored to your schedule. Embrace freedom and efficiency in your professional journey.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-user-friends fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Friendly Skilled Team</h5>
                                <p class="mb-0">Join a friendly, skilled team dedicated to success. Collaborate with talented individuals in a supportive environment, where growth is nurtured. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-briefcase-medical fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Medical Insurance Facilities</h5>
                                <p class="mb-0">Secure your health with comprehensive medical insurance facilities. Protect yourself and your loved ones with peace of mind</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="digi-contact pt-60 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-left">
                            <div>
                                <span class="span-arrow">Best Yout website</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-3">
                                Get in touch <span class="text-orange">Today!</span>
                            </h2>
                            <p>
                                Connect with us today! Reach out now to start a conversation and discover how we can assist you.
                            </p>
                            <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
                                <li class="pe-4">
                                    <div class="bg-white contact-box mb-4 mb-md-0">
                                        <img src="{% static 'assets/img/icons/c-i-1.svg' %}" alt="icon" />
                                        <h4 class="h5">Email Address</h4>
                                        <p class="fw-bold">support@tinos.co.in</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white contact-box">
                                        <img src="{% static 'assets/img/icons/c-i-2.svg' %}" alt="icon" />
                                        <h4 class="h5">Phone</h4>
                                        <p class="fw-bold">+91 7907358458</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-form-bg bg-white position-relative">
                            <ul class="list-unstyled d-none d-xl-block m-0">
                                <li></li>
                                <li></li>
                            </ul>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" name="number"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="yourMessage" name="message" required placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                    <div class="col-3">
                                        <button class="mt-4 btn rounded-pill bg-orange">
                                            Get in touch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--career promo end-->


        <!--cat subscribe start-->
        
        <!--cat subscribe end-->


        {% endblock %}