{% extends "base.html" %}
{% load static %}

{% block content %}


        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('static/assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-8 col-12">
                        <div class="company-info-wrap">
                            <!-- <div class="company-logo p-4 bg-white shadow rounded-custom me-4 mt-2">
                                <div class="logo">
                                    <img src="{% static 'assets/img/company/2.png' %}" alt="company logo" class="img-fluid">
                                </div>
                            </div> -->
                            <div class="company-overview">
                                <h1 class="display-5 fw-bold">{{job_details.job_position}}</h1>

                                <h6>About The Company</h6>
                                <ul class="list-unstyled list-inline mb-0 mt-3">
                                    <li class="list-inline-item me-4"><i class="fas fa-house me-2"></i>{{job_details.company_name}}</li>
                                    <li class="list-inline-item me-4">

                                        <div class="star-rating">
                                            <i class="far fa-smile me-2"></i>
                                            <span class="fas fa-star small text-warning"></span>
                                            <span class="fas fa-star small text-warning"></span>
                                            <span class="fas fa-star small text-warning"></span>
                                            <span class="fas fa-star small text-warning"></span>
                                            <span class="fas fa-star small text-warning"></span>
                                        </div>
                                    </li>
                                    <li class="list-inline-item me-4"><i class="fas fa-location-arrow me-2"></i>{{job_details.place}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="annual-salary-wrap rounded-custom bg-white">
                            <h6>Annual Salary</h6>
                            <span class="display-6 fw-semi-bold text-dark mb-0">{{job_details.salary}}</span>
                        </div>
                    </div>
                </div>

                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--job details section start-->
        <section class="job-details ptb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-8 pe-lg-5">
                        <div class="job-details-wrap">
                            <!-- <h2>Job Details</h2> -->
                            <p style="text-align: justify;">{{job_details.job_details|safe }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="job-overview-wrap bg-light-subtle p-5 sticky-sidebar rounded-custom mt-5 mt-lg-0">
                            <h5>Job Overviews</h5>
                            <ul class="job-overview-list list-unstyled mt-4">
                                <li>
                                    <i class="fas fa-location-arrow text-primary"></i>
                                    <div class="overview-item">
                                        <h6 class="mb-0">Location:</h6>
                                        <span>{{job_details.place}}</span>
                                    </div>
                                </li>
                                <li>
                                    <i class="far fa-user text-primary"></i>
                                    <div class="overview-item">
                                        <h6 class="mb-0">Job Title:</h6>
                                        <span>{{job_details.job_position}}</span>
                                    </div>
                                </li>
                                <li>
                                    <i class="far fa-clock text-primary"></i>
                                    <div class="overview-item">
                                        <h6 class="mb-0">Job Type:</h6>
                                        <span>{{job_details.job_type}}</span>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-wallet text-primary"></i>
                                    <div class="overview-item">
                                        <h6 class="mb-0">Annual Salary:</h6>
                                        <span>{{job_details.salary}}</span>
                                    </div>
                                </li>
                            </ul>
                            <a href="{% url 'apply_jobs' %}" class="btn btn-primary d-block mt-5">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--job details section end-->

        <!--related job start-->
        
        <!--related job end-->

        <!--cat subscribe start-->
        
        <!--cat subscribe end-->

        {% endblock %}