{% extends "base.html" %}
{% load static %}

{% block content %}


        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('static/assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">We are Development Experts</h1>
                        <p class="lead">Seamlessly actualize client-based users after out-of-the-box value. Globally embrace
                            strategic data through frictionless expertise.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>

        <section class="sc-blog-section bg-white position-relative overflow-hidden z-1 ptb-120 border-line-bg">
            <div class="container">
                <div class="row justify-content-center g-4">
                    <div class="col-xl-4 col-md-6">
                        <article class="sc-blog-card bg-white rounded-4 overflow-hidden rounded-4 overflow-hidden">
                            <div class="thumbnail overflow-hidden">
                                <a href="blog-single.html"><img src="{% static 'assets/img/software-company/blog-1.jpg' %}" alt="blog thumb" class="img-fluid"></a>
                            </div>
                            <div class="sc-blog-card-content p-4">
                                <a href="blog.html" class="d-inline-block text-primary badge bg-primary-soft mb-3">Web Design</a>
                                <a href="blog-single.html">
                                    <h5 class="mb-3">Dynamically maintain equity invested whereas distrib potentialities</h5>
                                </a>
                                <!-- <p class="mb-4">Appropriately empower robust infomediaries via resource maximizing scenarios.</p> -->
                                <div class="author-info d-flex align-items-center">
                                    <!-- <img src="{% static 'assets/img/software-company/client-demo-1.png' %}" alt="not found" class="rounded-circle"> -->
                                    <div class="authors-info-right ms-3">
                                        <span class="title fw-bold fs-sm d-block">Danielle M.Reese</span>
                                        <span class="meta d-block">12 December, 2022</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <article class="sc-blog-card bg-white rounded-4 overflow-hidden rounded-4 overflow-hidden">
                            <div class="thumbnail overflow-hidden">
                                <a href="blog-single.html"><img src="{% static 'assets/img/software-company/blog-2.jpg' %}" alt="blog thumb" class="img-fluid"></a>
                            </div>
                            <div class="sc-blog-card-content p-4">
                                <a href="blog.html" class="d-inline-block text-danger badge bg-danger-soft mb-3">Software</a>
                                <a href="blog-single.html">
                                    <h5 class="mb-3">Dynamically maintain equity invested whereas distrib potentialities</h5>
                                </a>
                                <!-- <p class="mb-4">Appropriately empower robust infomediaries via resource maximizing scenarios.</p> -->
                                <div class="author-info d-flex align-items-center">
                                    <!-- <img src="{% static 'assets/img/software-company/client-demo-2.png' %}" alt="not found" class="rounded-circle"> -->
                                    <div class="authors-info-right ms-3">
                                        <span class="title fw-bold fs-sm d-block">Danielle M.Reese</span>
                                        <span class="meta d-block">12 December, 2022</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <article class="sc-blog-card bg-white rounded-4 overflow-hidden rounded-4 overflow-hidden">
                            <div class="thumbnail overflow-hidden">
                                <a href="blog-single.html"><img src="{% static 'assets/img/software-company/blog-3.jpg' %}" alt="blog thumb" class="img-fluid"></a>
                            </div>
                            <div class="sc-blog-card-content p-4">
                                <a href="javascript:void(0)" class="d-inline-block text-warning badge bg-warning-soft mb-3">App
                                    Design</a>
                                <a href="blog-single.html">
                                    <h5 class="mb-3">Dynamically maintain equity invested whereas distrib potentialities</h5>
                                </a>
                                <!-- <p class="mb-4">Appropriately empower robust infomediaries via resource maximizing scenarios.</p> -->
                                <div class="author-info d-flex align-items-center">
                                    <!-- <img src="{% static 'assets/img/software-company/client-demo-3.png' %}" alt="not found" class="rounded-circle"> -->
                                    <div class="authors-info-right ms-3">
                                        <span class="title fw-bold fs-sm d-block">Danielle M.Reese</span>
                                        <span class="meta d-block">12 December, 2022</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section> 
        <section class="contact-us ptb-120 position-relative overflow-hidden">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">Quick Support</h4>
                            <h2>Get in Touch Today!</h2>
                            <p>Proactively deliver seamless core competencies with scalable. Completely fabricate transparent
                                paradigms. </p>
                        </div>
                        <div class="row justify-content-between pb-5">
                            <div class="col-sm-6 mb-4 mb-md-0 mb-lg-0">
                                <div class="icon-box d-inline-block rounded-circle bg-primary-soft">
                                    <i class="fas fa-phone fa-2x text-primary"></i>
                                </div>
                                <div class="contact-info">
                                    <h5>Call Us</h5>
                                    <p>Questions about our product or pricing? Call for support</p>
                                    <a href="tel:(415)231-59687" class="read-more-link text-decoration-none"><i
                                            class="fas fa-phone me-2"></i> 7907358458</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-box d-inline-block rounded-circle bg-danger-soft">
                                    <i class="fas fa-headset fa-2x text-danger"></i>
                                </div>
                                <div class="contact-info">
                                    <h5>Chat Us</h5>
                                    <p>Our support will help you from
                                        <strong>9am to 5pm.</strong>
                                    </p>
                                    <a href="#" class="read-more-link text-decoration-none"><i
                                            class="fas fa-comment me-2"></i> Live Chat Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-7 col-md-12">
                        <div class="register-wrap p-5 bg-white shadow rounded-custom position-relative">
                            <form method="post" class="register-form position-relative z-5">{% csrf_token %}
                                <h3 class="mb-5 fw-medium">Fill out the form and we'll be in touch as soon as
                                    possible.</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" aria-label="name" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" aria-label="name" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" placeholder="Email" aria-label="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" aria-label="company-website" name="phone">
                                        </div>
                                    </div>
                                    
                                
                                    
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <textarea class="form-control" placeholder="Tell us more about your project, needs and budget" style="height: 120px" name="message"></textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label small" for="flexCheckChecked">
                                                Yes, I'd like to receive occasional marketing emails from us. I have the
                                                right to opt out at any time.
                                                <a href="#"> View privacy policy</a>.
                                            </label>
                                        </div>
                                    </div> -->
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-4 d-block w-100">Get Started
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gradient position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z--1 py-5" style="background: url('assets/img/shape/dot-dot-wave-shape.svg')no-repeat center top">
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
            </div>
        </section> 
        {% endblock %}