{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('static/assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">Our Services</h1>
                        <p class="lead">Explore our comprehensive services designed to meet your needs. Elevate your business with our expertise and tailored solutions.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>

        
        <!--features grid section start-->
        <section class="feature-section ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="feature-grid">
                            <div class="feature-card bg-white shadow-sm highlight-card rounded-custom p-5" data-aos="fade-up" data-aos-delay="50">
                                <div class="icon-box d-inline-block rounded-circle bg-primary-soft mb-32">
                                    <i class="fas fa-chart-simple icon-sm text-primary"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="h5">Web Application Development</h3>

                                    <p>Our Web Development Service creates dynamic, responsive websites for online success, while our Application Development Service empowers your business with custom, 
                                        user-centric apps crafted by expert developers. With a focus on modern digital landscapes, we ensure your brand thrives with a strong online presence and stays ahead in the digital age, seamlessly achieving your goals</p>
                                   
                                    <h6 class="mt-4">Included with...</h6>
                                    <br>
                                    <ul class="list-unstyled mb-0">
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>Responsive, dynamic website</li>
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>User-centric app development</li>
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>Efficient UI/UX design</li>
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>Modern online presence</li>
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>Business goals achievement</li>
                                        <li class="py-1"><i class="far fa-check-circle me-2 text-primary"></i>Latest tech utilization</li>
                                        
                                    </ul>
                                </div>
                                <a href="{% url 'software_development' %}" class="link-with-icon text-decoration-none mt-3">View Details <i
                                    class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="feature-card bg-white shadow-sm rounded-custom p-5" data-aos="fade-up" data-aos-delay="50">
                                <div class="icon-box d-inline-block rounded-circle bg-success-soft mb-32">
                                    <i class="fas fa-file icon-sm text-success"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="h5">Web Design</h3>
                                    <p class="mb-0">Transform your online presence with our expert Web Design Service.
                                         We create stunning, user-friendly websites tailored to your needs,
                                          boosting your brand and engaging your audience.</p>
                                </div>
                                <a href="{% url 'web_design' %}" class="link-with-icon text-decoration-none mt-3">View Details <i
                                    class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="feature-card  bg-white shadow-sm rounded-custom p-5" data-aos="fade-up" data-aos-delay="50">
                                <div class="icon-box d-inline-block rounded-circle bg-danger-soft mb-32">
                                    <i class="fas fa-user-group icon-sm text-danger"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="h5">UI/UX Design</h3>
                                    <p class="mb-0">Elevate user experiences with our UI/UX Design Service.
                                         Our talented designers blend aesthetics and functionality to create engaging, 
                                         user-friendly interfaces that leave a lasting impression on your audience.

                                    </p>
                                </div>
                                <a href="{% url 'ui_ux_design' %}" class="link-with-icon text-decoration-none mt-3">View Details <i
                                    class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="feature-card bg-white shadow-sm rounded-custom p-5" data-aos="fade-up" data-aos-delay="50">
                                <div class="icon-box d-inline-block rounded-circle bg-dark-soft mb-32">
                                    <i class="fas fa-spell-check icon-sm text-dark"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="h5">Digital Marketing</h3>
                                    <p class="mb-0">Supercharge your online presence with our Digital Marketing Service. Our strategies maximize your brand's visibility, 
                                        engagement, and conversion rates across various platforms,
                                         ensuring you reach and resonate with your target audience.</p>
                                </div>
                                <a href="{% url 'digital_marketing' %}" class="link-with-icon text-decoration-none mt-3">View Details <i
                                    class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="feature-card bg-white shadow-sm rounded-custom p-5" data-aos="fade-up" data-aos-delay="50">
                                <div class="icon-box d-inline-block rounded-circle bg-warning-soft mb-32">
                                    <i class="fas fa-cog icon-sm text-warning"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="h5">Cyber Security</h3>
                                    <p class="mb-0">Protect your digital fortress with our Cybersecurity Service. We employ cutting-edge technologies and expert 
                                        strategies to safeguard your data, privacy, and operations from evolving online threats. Peace of mind assured.</p>
                                </div>
                                <a href="{% url 'Cybersecurity' %}" class="link-with-icon text-decoration-none mt-3">View Details <i
                                    class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature-tab-section ptb-120">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Features</h4>
                            <h2>Our Premium Services</h2>
                            <p>Unlock unparalleled value with our premium services. Experience tailored solutions and superior results for your business needs. </p>
                        </div>
                    </div>
                </div>
                <section class="iq-features">
                    <div class="container">
                    <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12"></div>
                    <div class="col-lg-6 col-md-12">
                    <div class="holderCircle">
                    <div class="round"></div>
                    <div class="dotCircle">
                       
                    <a href="{% url 'automation' %}">
                    <span class="itemDot active itemDot1" data-tab="1">
                        <i class="fa fa-cog"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'crm_development' %}">
                    <span class="itemDot itemDot2" data-tab="2">
                    <i class="fa fa-users"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'drone_development' %}">
                    <span class="itemDot itemDot3" data-tab="3">
                    <i class="fa fa-crosshairs"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'ecommerce_solutions' %}">
                    <span class="itemDot itemDot4" data-tab="4">
                    <i class="fa fa-cart-plus"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'erp_development' %}">
                    <span class="itemDot itemDot5" data-tab="5">
                    <i class="fa fa-line-chart"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'flange_management' %}">
                    <span class="itemDot itemDot6" data-tab="6">
                    <i class="fa fa-cubes"></i>
                    <span class="forActive"></span>
                    </span>
                    </a>

                    <a href="{% url 'robotics' %}">
                    <span class="itemDot itemDot7" data-tab="7">
                        <i class="fa fa-android"></i>
                        <span class="forActive"></span>
                        </span>
                    </div>
                    </a>

                    <div class="contentCircle">
                    <div class="CirItem title-box active CirItem1">
                    <h2 class="title"><span>Automation</span></h2>
                    <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                    <i class="fa fa-cog"></i>
                    </div>
                    <div class="CirItem title-box CirItem2">
                    <h2 class="title"><span>CRM Development </span></h2>
                    <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                    <i class="fa fa-users"></i>
                    </div>
                    <div class="CirItem title-box CirItem3">
                    <h2  class="title"><span>Drone Development</span></h2>
                    
                    <i class="fa fa-crosshairs"></i>
                    </div>
                   
                        
                   
                    <div class="CirItem title-box CirItem4">
                    <h2  class="title"><span>E - Commerce Solutions</span></h2>
                    <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                    <i class="fa fa-cart-plus"></i>
                    </div>
                    <div class="CirItem title-box CirItem5">
                    <h2  class="title"><span>ERP Development</span></h2>
                    <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                    <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="CirItem title-box CirItem6">
                    <h2  class="title"><span>Flange Management System</span></h2>
                    <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                    <i class="fa fa-cubes"></i>
                     </div>

                    <div class="CirItem title-box CirItem7">
                        <h2  class="title"><span>Robotics</span></h2>
                        <!-- <p>tfhdfghfghfghfgjtyjtyhfg ftgfthtyjyutg rthtryjdrhrt tyjdrytyjuty tjtyjtyjtdy</p> -->
                        <i class="fa fa-android"></i>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12"></div>
                </div>
                </div>
            </section>
                
                
                
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        
                    </div>
                    <br>
                    <div class="col-lg-6">
                        <div class="text-lg-end">
                            <a href="{% url 'premium_services' %}" id="showAllItemsBtn" class="btn btn-primary rounded-5">Browse All Services</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </section>
        
        <!--features grid section end-->

        <!--testimonial section start-->
        <!-- <section class="testimonial-section ptb-120 ">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Testimonial</h4>
                            <h2>What They Say About Us</h2>
                            <p>Uniquely promote adaptive quality vectors rather than stand-alone e-markets pontificate alternative architectures with accurate schemas.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100">
                            <div class="swiper testimonialSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{% static 'assets/img/testimonial/1.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                                    <small>Founder and CEO at Amaara Herbs</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>The Best Template You Got to Have it!</h6>
                                                Globally network long-term high-impact schemas vis-a-vis distinctive e-commerce
                                                cross-media infrastructures rather than ethical
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{% static 'assets/img/testimonial/3.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">Oberoi R.</h6>
                                                    <small>CEO at Herbs</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>Embarrassed by the First Version.</h6>
                                                Dynamically create innovative core competencies with effective best
                                                practices promote innovative infrastructures.
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{% static 'assets/img/testimonial/2.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                                    <small>Founder and CEO</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>Amazing Quiety template!</h6>
                                                Appropriately negotiate interactive niches rather than parallel strategic theme
                                                incubate premium total linkage areas.
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{% static 'assets/img/testimonial/4.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">Joan Dho</h6>
                                                    <small>Founder and CTO</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>Best Template for SAAS Company!</h6>
                                                Dynamically create innovative core competencies with effective best
                                                practices promote innovative infrastructures.
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{% static 'assets/img/testimonial/5.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">Ranu Mondal</h6>
                                                    <small>Lead Developer</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>It is undeniably good!</h6>
                                                Rapidiously supply client-centric e-markets and maintainable processes
                                                progressively engineer
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  -->
        

        <section class="career-promo ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Why Join Us</h4>
                            <h2>Great Working Environment</h2>
                            <p>Elevate Your Career in a Positive Atmosphere. Join Us & Thrive in a Supportive, Inspiring Environment</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-house-user fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Remote Working Facilities</h5>
                                <p class="mb-0">Empower your team with top-notch remote working facilities. Seamlessly collaborate from anywhere with our comprehensive remote work infrastructure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 mt-xl-0 mt-lg-0 mt-md-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-clock fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Flexible Working Hours</h5>
                                <p class="mb-0">Unlock productivity and work-life balance with flexible hours tailored to your schedule. Embrace freedom and efficiency in your professional journey.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-user-friends fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Friendly Skilled Team</h5>
                                <p class="mb-0">Join a friendly, skilled team dedicated to success. Collaborate with talented individuals in a supportive environment, where growth is nurtured. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-briefcase-medical fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Medical Insurance Facilities</h5>
                                <p class="mb-0">Secure your health with comprehensive medical insurance facilities. Protect yourself and your loved ones with peace of mind</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="testimonial-section ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Testimonial</h4>
                            <h2>What They Say About Us</h2>
                            <p>Discover what our clients are saying about our services in their own words, providing valuable insights and testimonials that showcase our commitment.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100">
                            <div class="swiper testimonialSwiper">
                                <div class="swiper-wrapper">{% for review in review %}
                                    <div class="swiper-slide">
                                        <div class="border border-2 p-5 rounded-custom position-relative">
                                            <img src="{% static 'assets/img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                {% if reviews.client_image %}
                                                <img src="{{review.client_image.url}}" class="img-fluid me-3 rounded" width="60" alt="user">
                                                {% endif %}
                                                <div class="author-info">

                                                    <h6 class="mb-0">{{review.client_name}}</h6>
                                                    <small>{{review.designation}}</small>
                                                </div>
                                                
                                            </div>
                                            <blockquote>
                                                <!-- <h6>The Best Template You Got to Have it!</h6> -->
                                                {{review.review}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                            <img src="{% static 'assets/img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="digi-contact pt-60 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-left">
                            <div>
                                <span class="span-arrow">Best Yout website</span>
                                <img src="{% static 'assets/img/arro-right.svg' %}" alt="arrow" />
                            </div>
                            <h2 class="mb-3">
                                Get in touch <span class="text-orange">Today!</span>
                            </h2>
                            <p>
                                Contact us today to explore how our services can address your needs and drive your success forward.
                            </p>
                            <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
                                <li class="pe-4">
                                    <div class="bg-white contact-box mb-4 mb-md-0">
                                        <img src="{% static 'assets/img/icons/c-i-1.svg' %}" alt="icon" />
                                        <h4 class="h5">Email Address</h4>
                                        <p class="fw-bold">support@tinos.co.in</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white contact-box">
                                        <img src="{% static 'assets/img/icons/c-i-2.svg' %}" alt="icon" />
                                        <h4 class="h5">Phone</h4>
                                        <p class="fw-bold">+91 7907358458</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="digi-contact-form-bg bg-white position-relative">
                            <ul class="list-unstyled d-none d-xl-block m-0">
                                <li></li>
                                <li></li>
                            </ul>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <input type="number" class="form-control" placeholder="Phone" name="phone"/>
                                        </div>
                                    </div>
                                   
                                    <div class="col-12">
                                        <textarea class="form-control" id="yourMessage" name="message" required placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                    <div class="col-3">
                                        <button class="mt-4 btn rounded-pill bg-orange">
                                            Get in touch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <style>
            .holderCircle { width: 500px; height: 500px; border-radius: 100%; margin: 60px auto; position: relative; }
    
    
            .dotCircle { width: 100%; height: 100%; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; z-index: 20; }
            .dotCircle  .itemDot { display: block; width: 80px; height: 80px; position: absolute; background: #ffffff; color: #3f51b5; border-radius: 20px; text-align: center; line-height: 80px; font-size: 30px; z-index: 3; cursor: pointer; border: 2px solid #e6e6e6; }
            .dotCircle  .itemDot .forActive { width: 56px; height: 56px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
            .dotCircle  .itemDot .forActive::after { content: ''; width: 5px; height: 5px; border: 3px solid #3f51b5; bottom: -31px; left: -14px; filter: blur(1px); position: absolute; border-radius: 100%; }
            .dotCircle  .itemDot .forActive::before { content: ''; width: 6px; height: 6px; filter: blur(5px); top: -15px; position: absolute; transform: rotate(-45deg); border: 6px solid #3f51b5; right: -39px; }
            .dotCircle  .itemDot.active .forActive { display: block; }
            .round { position: absolute; left: 40px; top: 45px; width: 410px; height: 410px; border: 2px dotted #3f51b5; border-radius: 100%; -webkit-animation: rotation 100s infinite linear; }
            .dotCircle .itemDot:hover, .dotCircle .itemDot.active { color: #3f51b5; transition: 0.5s;   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 / background: #3f51b5; / Old browsers / background: -moz-linear-gradient(left, #3f51b5 0%, #3f51b5 100%); / FF3.6-15 / background: -webkit-linear-gradient(left, #3f51b5 0%, #3f51b5 100%); / Chrome10-25,Safari5.1-6 / background: linear-gradient(to right, #3f51b5 0%, #3f51b5 100%); / W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ / filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4ac7', endColorstr='#a733bb', GradientType=1); / IE6-9 */ border: 2px solid #ffffff; -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); }
            .dotCircle .itemDot { font-size: 40px; }
            .contentCircle { width: 250px; border-radius: 100%; color: #222222; position: relative; top: 150px; left: 50%; transform: translate(-50%, -50%); }
            .contentCircle .CirItem { border-radius: 100%; color: #222222; position: absolute; text-align: center; bottom: 0; left: 0; opacity: 0; transform: scale(0); transition: 0.5s; font-size: 15px; width: 100%; height: 100%; top: 0; right: 0; margin: auto; line-height: 250px; }
            .CirItem.active { z-index: 1; opacity: 1; transform: scale(1); transition: 0.5s; }
            .contentCircle .CirItem i { font-size: 180px; position: absolute; top: 0; left: 50%; margin-left: -90px; color: #000000; opacity: 0.1; }
            .contentCircle .CirItem h2.title {font-size: 32px; margin-top: 60px; }
    
            /* Default styles */
            /* Add your default styles here */
    
            /* Media queries for responsive design */
            @media only screen and (min-width: 200px) and (max-width: 249px) {
                /* Styles for screen sizes between 200px and 249px */
                .holderCircle { width: 180px; height: 180px; margin-left: -15px; }
                .dotCircle .itemDot { width: 40px; height: 40px; font-size: 20px; line-height: 40px; }
                .dotCircle  .itemDot .forActive { width: 36px; height: 36px; }
                .round { left: 5px; top: 8px; width: 170px; height: 170px; }
                .contentCircle { width: 150px; top: 75px; }
                .contentCircle .CirItem i { font-size: 70px; margin-left: -30px; top: -15px; }
                .contentCircle .CirItem h2.title { font-size: 12px; margin-top: 12px; }
            }
    
            @media only screen and (min-width: 250px) and (max-width: 299px) {
                /* Styles for screen sizes between 200px and 249px */
                .holderCircle { width: 180px; height: 180px; margin-left: 15px; }
                .dotCircle .itemDot { width: 40px; height: 40px; font-size: 20px; line-height: 40px; }
                .dotCircle  .itemDot .forActive { width: 36px; height: 36px; }
                .round { left: 5px; top: 8px; width: 170px; height: 170px; }
                .contentCircle { width: 150px; top: 75px; }
                .contentCircle .CirItem i { font-size: 70px; margin-left: -30px; top: -15px; }
                .contentCircle .CirItem h2.title { font-size: 12px; margin-top: 12px; }
            }
            /* Media queries for responsive design */
            @media only screen and (min-width: 300px) and (max-width: 349px) {
                /* Styles for screen sizes between 300px and 349px */
                .holderCircle { width: 300px; height: 300px; margin-left: -40px; }
                .dotCircle .itemDot { width: 35px; height: 35px; font-size: 20px; line-height: 55px; }
                .round { left: 20px; top: 30px; width: 250px; height: 250px; }
                .dotCircle .itemDot { width: 60px; height: 60px; font-size: 24px; }
                .contentCircle { width: 200px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 120px; margin-left: -60px; top: -50px; }
                .contentCircle .CirItem h2.title { font-size: 20px; margin-top: -10px; }
            }
    
            @media only screen and (min-width: 350px) and (max-width: 399px) {
                /* Styles for screen sizes between 300px and 349px */
                .holderCircle { width: 300px; height: 300px; margin-left: -10px; }
                .dotCircle .itemDot { width: 35px; height: 35px; font-size: 20px; line-height: 55px; }
                .round { left: 20px; top: 30px; width: 250px; height: 250px; }
                .dotCircle .itemDot { width: 60px; height: 60px; font-size: 24px; }
                .contentCircle { width: 200px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 120px; margin-left: -60px; top: -50px; }
                .contentCircle .CirItem h2.title { font-size: 20px; margin-top: -10px; }
            }
    
            @media only screen and (min-width: 400px) and (max-width: 449px) {
                /* Styles for screen sizes between 400px and 449px */
                .holderCircle { width: 400px; height: 400px; margin-left: -40px; }
                .dotCircle .itemDot { width: 80px; height: 80px; font-size: 32px; }
                .round { left: 20px; top: 30px; width: 350px; height: 350px; }
                .contentCircle { width: 240px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 160px; margin-left: -80px; top: -80px;}
                .contentCircle .CirItem h2.title { font-size: 25px; margin-top: -15px; }
            }
    
            @media only screen and (min-width: 450px) and (max-width: 499px) {
                /* Styles for screen sizes between 400px and 449px */
                .holderCircle { width: 400px; height: 400px; margin-left: -6px; }
                .dotCircle .itemDot { width: 80px; height: 80px; font-size: 32px; }
                .round { left: 20px; top: 30px; width: 350px; height: 350px; }
                .contentCircle { width: 240px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 160px; margin-left: -80px; top: -80px;}
                .contentCircle .CirItem h2.title { font-size: 25px; margin-top: -15px; }
            }
    
            @media only screen and (min-width: 500px) and (max-width: 549px) {
                /* Styles for screen sizes between 500px and 549px */
                .holderCircle { width: 500px; height: 500px; margin-left: -45px; }
                .dotCircle .itemDot { width: 90px; height: 90px; font-size: 40px; }
                .contentCircle { width: 280px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 180px; margin-left: -90px; top: -100px; }
                .contentCircle .CirItem h2.title { font-size: 33px; margin-top: -30px; }
            }
    
            @media only screen and (min-width: 550px) and (max-width: 599px) {
            /* Styles for screen sizes between 500px and 549px */
            .holderCircle { width: 500px; height: 500px; margin-left: -5px; }
                .dotCircle .itemDot { width: 90px; height: 90px; font-size: 40px; }
                .contentCircle { width: 280px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
                .contentCircle .CirItem i { font-size: 180px; margin-left: -90px; top: -100px; }
                .contentCircle .CirItem h2.title { font-size: 33px; margin-top: -30px; }
            }
    
    
            

            @media only screen and (min-width:600px) and (max-width:767px) { }
            @media only screen and (min-width:768px) and (max-width:991px) { }
            @media only screen and (min-width:992px) and (max-width:1199px) { }
            @media only screen and (min-width:1200px) and (max-width:1499px) { }
                .title-box .title { font-weight: 600; letter-spacing: 2px; position: relative; z-index: -1; }
                .title-box span { text-shadow: 0 10px 10px rgba(0, 0, 0, .15); font-weight: 800; color: #3f51b5; }
                .title-box p {font-size: 17px; line-height: 2em; } 
    
    
    
        </style>

        {% endblock %}
         