{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Integration details section start -->
    <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('{% static 'assets/img/page-header-bg.svg' %}') no-repeat bottom left">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h1 class="display-5 fw-bold">Terms of Services</h1>
                    <p class="lead">Deliver tailored solutions that prioritize client needs and maximize value. Utilize strategic data on a global scale with seamless expertise.</p>
                </div>
            </div>
            <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
        </div>
    </section>
    <section class="integration-details ptb-120">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-8 pe-lg-5">
                    <div class="integration-details-wrap">
                        <h4>Introduction:</h4>
                        <p>At Tinos Software And Security Solutions, we are committed to providing high-quality software and security solutions to meet the needs of our clients. Please review the following terms and conditions carefully before using our services.</p>
                        <h4>User Agreements:</h4>
                        <p>By accessing our website and using our services, you agree to abide by the terms and conditions outlined on this page. If you do not agree with any part of these terms and conditions, you may not use our services.</p>
                        <ul class="content-list list-unstyled">
                            <li>
                                <h6>1. Account Registration</h6>
                                <p>When creating an account with Tinos Software And Security Solutions, you agree to provide accurate and complete information. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
                            </li>
                            <li>
                                <h6>2. Use of Services</h6>
                                <p>Our services are provided for lawful purposes only. You agree not to use our services to engage in any illegal or unauthorized activities, including but not limited to transmitting harmful or objectionable content, violating the rights of others, or interfering with the operation of our systems.</p>
                            </li>
                            <li>
                                <h6>3. Intellectual Property</h6>
                                <p>All content included on our website and in our services, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Tinos Software And Security Solutions or its content suppliers and is protected by international copyright laws.</p>
                            </li>
                            <li>
                                <h6>4. Termination of Services</h6>
                                <p>We reserve the right to terminate or suspend your access to our services at any time, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these terms and conditions.</p>
                            </li>
                            <li>
                                <h6>5. Changes to Terms and Conditions</h6>
                                <p>We may update or modify these terms and conditions from time to time without prior notice. It is your responsibility to review these terms and conditions periodically for changes. Your continued use of our services after any modifications indicates your acceptance of the updated terms and conditions.</p>
                            </li>
                        </ul>
                        <div class="integration-feature-info mt-5">
                            <h4>Restrictions:</h4>
                            <p>You are specifically restricted from all of the following:</p>
                            <ul class="content-list list-unstyled">
                                <li>Users are prohibited from violating any laws.</li>
                                <li>Users must not infringe on the rights of others.</li>
                                <li>Users must not engage in any activity that may harm or disrupt our services.</li>
                                <li>Users must not attempt to gain unauthorized access to our systems.</li>
                                <li>Users must not interfere with the operation of our website or services.</li>
                            </ul>
                        </div>
                        <div class="integration-feature-info mt-5">
                            <h4>User Questions & Answers:</h4>
                            <div class="accordion faq-accordion" id="accordionExample">
                                <div class="accordion-item border border-2 rounded active">
                                    <h5 class="accordion-header" id="faq-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                                            Can I share my account credentials with others?
                                        </button>
                                    </h5>
                                    <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="faq-1" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            No, sharing your account credentials is strictly prohibited and may result in the termination of your account.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border border-2 rounded">
                                    <h5 class="accordion-header" id="faq-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                                            How do I report a security vulnerability?
                                        </button>
                                    </h5>
                                    <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="faq-2" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            If you discover a security vulnerability in our systems, please contact us immediately at support@tinos.co.in.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border border-2 rounded">
                                    <h5 class="accordion-header" id="faq-3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
                                            Are there any restrictions on how I can use your software?
                                        </button>
                                    </h5>
                                    <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="faq-3" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Yes, our software is licensed for use according to the terms outlined in the End User License Agreement (EULA). Please review the EULA before using our software.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border border-2 rounded">
                                    <h5 class="accordion-header" id="faq-4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false">
                                            What should I do if I encounter technical issues while using your software?
                                        </button>
                                    </h5>
                                    <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="faq-4" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            If you encounter any technical issues while using our software, please reach out to our technical support team at support@tinos.co.in They will assist you in resolving the issue promptly.
                                        </div>
                                    </div>
                                </div>

                                
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- Cyber FAQ section end -->
{% endblock %}




             